<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table border="1">
        {%for item in menu%}
        {% if item.price == 'Free'%}
         <tr style="background-color: pink;">
            <td>{{item.name}}</td>
            <td>Rs. {{item.price}}</td>
        </tr>
        {% else %}
        <tr>
            <td>{{item.name}}</td>
            <td>Rs. {{item.price}}</td>
        </tr>
        {%endif%}
        {%endfor%}
    </table>
</body>
</html>